.main-section {
    background-color: #73B1D6;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #1D628B;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #73B1D6;
}