.main-carousel {
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(40%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}